* text=auto
*.cs text diff=csharp
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

*.cs diff=csharp

*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.tga binary
*.tif binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.mixamo.fbx binary
*.dae binary
*.obj binary
*.3ds binary
*.dxf binary
*.c4d binary
*.blend binary